*~
*.aux
*.backup
*tex.bak
*.bbl
*.blg
*.DS_Store
*.dvi
*.gnuplot
*synctex.gz
*.idx
*.ilg
*.ind
*.log
*.nav
*.out
*.ps
*.snm
*.spl
*.table
*.thm
*.toc
*.zip
*.tex.swp
2024_MatheII_U*.pdf
2024_MatheIII_U*.pdf
